<nav class="navbar navbar-expand-lg">
	<span class="navbar-brand">D&amp;D Characters</span>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="nav">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/">Overview <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/inventory">Equipment</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/biography">Biography</a>
			</li>
		</ul>
	</div>
</nav>

<div class="container-fluid">
	<div class="row fullscreen">

		<div id="col-bio" class="col-12 col-md-4 text-center">
			<img src="/img/avatar.jpg" id="avatar">
			<h1>{{name}}</h1>
			<p class="role">{{race}} {{class}} &mdash; {{alignment}}</p>

			<div class="core-stats">
				<figure class="white">
					<img src="/img/box-core.svg">
					<input type="text" value="{{strength}}">
					<figcaption>Strength</figcaption>
				</figure>
				<figure class="white">
					<img src="/img/box-core.svg">
					<input type="text" value="{{dexterity}}">
					<figcaption>Dexterity</figcaption>
				</figure>
				<figure class="white">
					<img src="/img/box-core.svg">
					<input type="text" value="{{constitution}}">
					<figcaption>Constitution</figcaption>
				</figure>
				<figure class="white">
					<img src="/img/box-core.svg">
					<input type="text" value="{{intelligence}}">
					<figcaption>Intelligence</figcaption>
				</figure>
				<figure class="white">
					<img src="/img/box-core.svg">
					<input type="text" value="{{speed}}">
					<figcaption>Speed</figcaption>
				</figure>
				<figure class="white">
					<img src="/img/box-core.svg">
					<input type="text" value="{{charisma}}">
					<figcaption>Charisma</figcaption>
				</figure>
			</div>
		</div>


		<div class="col-12 col-md-8">

			<div class="row align-items-center my-5">
				<div class="col-12 col-md-2">
					<h2 class="side-heading">Level</h2>
				</div>
				<div class="col-12 col-md-10 d-flex flex-wrap">
					<figure>
						<img src="/img/box-level.svg">
						<input type="text" value="{{level}}">
						<figcaption>Level</figcaption>
					</figure>
					<figure>
						<img src="/img/box-xp.svg">
						<input type="text" class="sm" value="{{experience}}">
						<figcaption>Experience</figcaption>
					</figure>
				</div>
			</div>

			<div class="row align-items-center my-5">
				<div class="col-12 col-md-2">
					<h2 class="side-heading">Combat</h2>
				</div>
				<div class="col-12 col-md-10 d-flex flex-wrap">
					<figure>
						<img src="/img/box-speed.svg">
						<input type="text" value="{{speed}}">
						<figcaption>Speed</figcaption>
					</figure>
				</div>
			</div>

			<hr>

			<div class="row align-items-center my-5">
				<div class="col-12 col-md-2">
					<h2 class="side-heading">Combat</h2>
				</div>
				<div class="col-12 col-md-10 d-flex flex-wrap">
					<figure>
						<img src="/img/box-armor.svg">
						<input type="text" value="11">
						<figcaption>Armor Class</figcaption>
					</figure>
					<figure>
						<img src="/img/box-initiative.svg">
						<input type="text" value="1">
						<figcaption>Initiative</figcaption>
					</figure>
					<figure>
						<img src="/img/box-speed.svg">
						<input type="text" value="30">
						<figcaption>Speed</figcaption>
					</figure>
				</div>
			</div>

			<div class="row align-items-center my-5">
				<div class="col-12 col-md-2">
					<h2 class="side-heading">Health</h2>
				</div>
				<div class="col-12 col-md-10 d-flex flex-wrap">
					<figure>
						<img src="/img/box-health.svg">
						<input type="text" value="20">
						<figcaption>Hit Points</figcaption>
					</figure>
					<figure>
						<img src="/img/box.svg">
						<input type="text" value="24">
						<figcaption>Max Health</figcaption>
					</figure>
					<figure>
						<img src="/img/box.svg">
						<input type="text" value="7">
						<figcaption>Hit Dice</figcaption>
					</figure>
				</div>
			</div>

		</div>
	</div>
